@font-face {
    font-family: "LeagueSpartan";
    src: url("../font/LeagueSpartan-VariableFont_wght.ttf");
}
 
 
 
 /* section du haut  */
 .navig{
    position:relative; 
position: absolute;
    z-index:1;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    width: 25%;
    top: 45px;
    border: red solid;
    color: white;
   
} 

.l{
    padding-top: 2%;
}

/* section du bas */

.black{
    
    background: #000;
    height: 80px;
    width: 100px;
    padding-top:1%;
    padding-left:2%;
    padding-right:2%;
    padding-bottom: 0.5;
    position: relative;
   left: 840px;
   bottom: 103px;

    
    
}

.svg3{
    display: flex;
    justify-content: space-between;
    color: white;
    

}
.svg3 img{
    width :15px
}

.about{
    display: flex;
}

.text{
    display: flex;
    flex-direction: column;
    
    white-space: pre;
    align-items: flex-end;
   
    
}